name: test
on:
  push:
    branches: master
  pull_request:
    branches: master
# cancels prior builds for this workflow when new commit is pushed
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]
    name: test
    steps:
      - uses: actions/checkout@v6
      - name: Setup Conda environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          channels: conda-forge
          environment-file: gait2d-dev.yml
          miniforge-version: latest
      - name: install
        shell: bash -l {0}
        run: |
          conda info
          python -m pip install --no-deps --no-build-isolation .
          conda list
          python -c "import pygait2d.segment"
          python -c "import pygait2d;print(pygait2d.__file__)"
          python -c "import algait2de;print(algait2de.__file__)"
          python -c "import algait2de.gait2de"
      - name: run tests
        shell: bash -l {0}
        run: |
          pytest pygait2d/
      - name: build docs
        shell: bash -l {0}
        run: |
          cd docs
          make html
